<!-- Gauge Bar Component -->
<div class="gauge-bar-component">
  <div class="gauge-percentages">
    <div class="gauge-percentage-item gauge-percentage-a">
      <div class="gauge-option-label">Option A</div>
      <div class="gauge-option-percentage" data-option="a">50%</div>
    </div>
    <div class="gauge-percentage-item gauge-percentage-b">
      <div class="gauge-option-percentage" data-option="b">50%</div>
      <div class="gauge-option-label">Option B</div>
    </div>
  </div>
  <div class="gauge-progress-bar">
    <div class="gauge-bar-fill" data-fill="a"></div>
  </div>
</div>
